include LICENSE
include README.md
recursive-include anchorsfactory/rules *.anchors
recursive-include anchorsfactory/studio/static *
recursive-include anchorsfactory/studio/_vendor *
recursive-include docs *.md
